<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head.ejs %>
    <title>FTC Employees | Weekly Log</title>
</head>

<body>
    <% include ../partials/nav.ejs %>
<div class="container" id="outermost">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4dq_HgdT_A0jYCgADOsov2Z6E9qWaqyQTrWZhhwus_SGY-IdBhrEJSPPSPKc7EVOPiZyrQ7UjXyzn/pubhtml?widget=true&amp;headers=false"></iframe>
</div>
</body>

</html>
